<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         verbose="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration Tests">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">backend/api</directory>
            <directory suffix=".php">backend/config</directory>
        </include>
        <exclude>
            <directory>backend/api/index.php</directory>
        </exclude>
    </coverage>
    <php>
        <env name="DB_HOST" value="mysql"/>
        <env name="DB_NAME" value="video_app_test"/>
        <env name="DB_USER" value="root"/>
        <env name="DB_PASS" value="root123"/>
    </php>
</phpunit>
